* {
  margin: 0;
}

h1 {
  color: violet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 30px;
}

img {
  object-fit: cover;
  max-width: 30%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: auto;
  border-radius: 50px;
}

figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  color: blue;
  margin: 10px;
}